<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>inicio</title>
</head>


<style>
    body{
        background-image: url('https://t4.ftcdn.net/jpg/02/07/34/41/360_F_207344174_j5LdXlKgzM8MbzLKvp8lq5Ob5LD6PoEz.jpg');
    }
</style>


<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://m.media-amazon.com/images/I/71VSpLvjtaL.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Fábrica de Galletas ITESM
        </a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}">Almacen <span class="sr-only">(current)</span></a>
                </li>

                

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('fabricacion_front')}}">Fabricación <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">


